:root {
    --P: #E83178; 
    --B: #170F4A;
    --W: #FFFFFF;
}

.main {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

aside {
    padding-top: 10%;
    text-align: center;
}

.leftDivBoard .rightDivBoard {
    height: 90vh;
    padding-top: 10%;
    flex: 0 1 20%;
    text-align: center;
    align-self: auto;
}

.rightDivBoard {
    padding-right: 5%;
}

.centerDivBoard {
    height: 90vh;
    flex: 1 1 40%;
    align-self: auto;
    padding-top: 5%;
}



.round, .time{
    font-family: roboto;
    font-weight: bold;
}

.time {
    font-size: 3em;
}

.leader_name {
    font-style: italic;
    color: darkgoldenrod;
}

/*.whiteCardGroup {
    padding: 0;
    margin: auto;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    justify-content: space-around;
   
    line-height:30px;
} */

.lezami {
    width: 100%;
}
.lezami-content {
    width: 100%;
}

.score {
    font-family: roboto;
}
