#color-picker {
    /*position: absolute;*/
    margin-bottom: 40px;
    font-family: roboto;
    width: 90%;
    position: relative;
    height: 25vh;
    background: white;
    /*left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);*/
    text-align: center;
    /* border: solid 2px silver; */
    border-radius: 20px;
    
    resize: none;
    }
    #view {
    margin: auto;
    position: absolute;
    top: 0;
    width: 100%;
    height: 40%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    }
    #colors {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60%;
    }
    .inp {
    width: 90%;
    height: 8px;
    border-radius: 20px;
    margin: 13px 0;
    -webkit-transition: 0.3s;
    }
    #inp1, #inp2, #inp3 {
    -webkit-appearance: none;
    -moz-appearance: none;
    /* position: absolute; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, 50%); */
    background: linear-gradient();
    }
    #inp1::-webkit-slider-thumb {
        background: var(--color1);
    }
    #inp2::-webkit-slider-thumb {
        background: var(--color2);
    }
    #inp3::-webkit-slider-thumb {
        background: var(--color3);
    }
    
    .inp::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: solid 2px white;
    background: #f2f2f2;
    /* box-shadow: inset 0 0 2px silver; */
    border-radius: 50%;
    }
    input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    width: 25px;
    height: 25px;
    border: solid 1px #f2f2f2;
    background: #f2f2f2;
    box-shadow: inset 0 0 2px silver;
    border-radius: 50%;
    }
    #txt {
        /*margin:13px 0;
        padding: 8px;
        border: solid 1px silver;
        border-radius: 5px;
        text-align: center;
        background: #ffffff;*/
        display: none;
    }
    #copy {
        padding: 8px 8px;
        border-radius: 5px;
        border: solid 1px silver;
        background: #ffffff;
        cursor: pointer;
        margin:13px 0;
        -webkit-transition: 0.3s;
    }
    #copy:hover {
        background: #f1f1f1;
    }

    #rgb {
        display: none;
    }

    @media only screen and (max-width: 700px) {
    #copy {
        cursor: default;
    }
    }