:root {
  --dlb-border: #ddd;
}

.dual-listbox {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: Roboto;
}

.dual-listbox .dual-listbox__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.dual-listbox div {
  flex: 3;
}

.dual-listbox .dual-listbox__search {
  border: 1px solid var(--dlb-border);
  padding: 4px 8px;
  font-size: 0.9em;
}

.dual-listbox__available {
  scrollbar-width: thin;
  scrollbar-color: rgba(245, 50, 99, 0.644) rgba(78, 40, 49, 0.4);
}

.dual-listbox .dual-listbox__available, .dual-listbox .dual-listbox__selected {
  border: 1px solid var(--dlb-border);
  border-radius: 0 0 8px 8px;
  height: 230px;
  overflow-y: auto;
  padding: 0;
  margin-top: 0;
  -webkit-margin-before: 0;
}

.dual-listbox .dual-listbox__buttons {
  display: -ms-flexbox;
  display: flex;
  flex: 0;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 10px;
}

.dual-listbox .dual-listbox__button {
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: transparent;
  padding: 2;
  color: #777;
  cursor: pointer;
}

.dual-listbox .dual-listbox__button:hover {
  box-shadow: inset 0 0 4px rgba(255, 0, 157, 0.333);
  background-color: #fff2;
}

.dual-listbox .dual-listbox__title {
  text-align: center;
  margin-top: 1rem;
  padding: 6px;
  border-left: 1px solid var(--dlb-border);
  border-right: 1px solid var(--dlb-border);
  border-top: 1px solid var(--dlb-border);
  border-radius: 8px 8px 0 0;
  -webkit-margin-before: 1rem;
}

.dual-listbox .dual-listbox__item {
  display: block;
  font-size: 0.9em;
  padding: 2px 8px;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  border-bottom: 1px solid #fff2;
}

.dual-listbox .dual-listbox__item.dual-listbox__item--selected {
  background: #ff316f2a;
}