.fade-in {
  animation-name: fade-in;
  animation-duration: .5s;
}

@keyframes fade-in{
  from {
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
  }
  to {
    max-height: 200px;
    opacity: 100%;
  }
}

@keyframes svgAnimScale {
    0% {   -webkit-transform: scale(100%); }
    50% {  -webkit-transform: scale(110%); }
    100% { -webkit-transform: scale(100%); }
}

@keyframes svgAnimPosition {
    0% {   -webkit-transform: translateY(0px); }
    50% {  -webkit-transform: translateY(-100px); }
    100% { -webkit-transform: translateY(0px); }
}