#landing {
  position: absolute;
  margin: 0 auto;
  padding: 15vh 0 0 0;
  width: 100vw;
}

#landing-left {
  position: absolute;
  z-index: -1;
  transform: translateY(-60%);
  top: 60vh;
  left: 10%;
  width: calc(80% - 400px);
}

#landing-left img {
  max-width: 750px;
  animation: svgAnimScale 5s ease infinite;
  animation: svgAnimPosition 5s ease infinite;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#landing-right {
  float: right;
  margin-right: 12.5vw;
  max-width: 700px;
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
  flex-flow: row-reverse wrap;
  padding: 0;
  font-size: 1.2em;
}

#landing-right h1 {
  font-size: 4.3em;
}

#landing-right .lighter {
  width: 67%;
  font-size: 0.8em;
  padding: 50px 0px;
  border-top: 2px solid var(--W);
}

@media screen and (max-width: 800px) {
  #landing-right h1 {
    font-size: 3em;
  }
}

@media screen and (max-width: 640px) {
  #landing-right {
    display: block;
    margin: 100px 0 0 0;
    padding: 0 10vw;
    width: 100%;
    text-align: center;
  }
  #landing-right h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 15%;
  }
  #landing-right .lighter {
    text-align: left;
    border: none;
    font-size: 0.7em;
    width: 100%;
  }
  #landing-left {
    display: none;
  }
}