#welcome {
  position: absolute;
  top: 0;
  width: 100vw;
}

#welcome .title {
  display: block;
}

#welcome main {
  margin: 0 auto;
  padding: 15vh 10vh 0 10vh;
  max-width: 800px;
  height: 90vh;
  text-align: center;
}

#room-form-buttons {
  margin-top: 20vh;
}

#room-form-buttons {
  display: flex;
  justify-content: space-between;
}

#room-create-alert,
#room-join-alert {
  margin: 0 0 16px 0;
  width: 100%;
  font-size: 16px;
  color: var(--W);
  background: linear-gradient(135deg, #dd335d, #ff4b4b);
  border-radius: 6px;
}

#room-create, #room-join {
  display: none;
  margin-top: 16px;
}

#room-create button, #room-join button {
  margin-top: 12px;
}

#room-create input, #room-join input {
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  border: 2px solid var(--W);
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--W);
  font-family: Roboto;
}

#lezami {
  z-index: -1;
  position: absolute;
  top: 0;
  padding: 20vh 12px 0 54px;
  height: 90vh;
  width: 300px;
  max-height: 90vh;
}

#lezami h1 {
  text-align: left;
  margin: 24px auto;
  font-size: 1.5em;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#lezami ul {
  padding: 0;
  margin: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(245, 50, 99, 0.644) rgba(84, 23, 36, 0.133);
}

#lezami ul li {
  display: flex;
  margin-bottom: 8px;
  list-style-type: none;
}

#lezami ul li .dot {
  display: inline-block;
  align-self: center;
  margin-right: 10px;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 8px #00000055;
}

#lezami ul li p {
  display: inline-block;
  margin: 0;
  align-self: center;
  font-family: Roboto;
}

@media screen and (max-width: 800px) {
  #lezami {
    display: none;
  }
}

#lezalons {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  padding: 20vh 54px 0 0;
  height: 100vh;
  width: 220px;
  max-height: 100vh;
  background: linear-gradient(-90deg, #1125, #1120);
  overflow: hidden;
}

#lezalons h1 {
  text-align: right;
  margin: 24px auto;
  font-size: 1.5em;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#lezalons ul {
  padding: 0;
  margin: 0;
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: rgba(245, 50, 99, 0.644) rgba(84, 23, 36, 0.133);
}

#lezalons ul li {
  display: block;
  white-space: nowrap;
  margin: 0 0 8px 0;
  width: calc(220px - 54px);
  list-style-type: none;
  text-align: right;
  font-family: Roboto;
}

@media screen and (max-width: 800px) {
  #lezalons {
    width: 30px;
    color: #fff2;
    transition: .7s ease-in-out;
    background: linear-gradient(-90deg, #1125, #1120);
  }
  #lezalons:hover {
    width: 300px;
    color: #ffff;
    transition: .7s ease-in-out;
    background: linear-gradient(-90deg, #1129, #1120);
  }
}