Deny from all

<Files "">
  Allow from all
</Files>

<Files "index.php">
  Allow from all
</Files>

<Files "install.php">
  Order Deny,Allow
  Deny from all
  Allow from localhost
  Allow from 127.0.0.1
</Files>